.worker-container{
    margin-right: 2%;
    margin-bottom: 10px;
    text-align: center;
    border-color: blueviolet;
    border-style:outset;
    border-radius: 2%;
    padding: 5px;
    margin-top: 3px;
    border-width: 1px;
}

.workers-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
}

p{
    max-width: 225px;
    height: 13px;
    font-size: 13px;
    font-weight:normal;
}

.surname{
    font-weight: bold;
}

img{
    margin-top: 15%;
    width: 100px;
    height: 100px;
}

button{
    margin-top: 5px;
    margin-left:1em; 
}